.card-header-image {
  background-size: cover;
}

mat-card {
  margin-bottom: 10px;
}

mat-card-subtitle {
  margin-bottom: 0px;
}

mat-card-title {
  margin-bottom: 5px;
}
.mat-card-header-text {
  margin-left: 0px;
}

mat-drawer {
  max-width: 30%;
  padding: 10px;
}
 mat-drawer-content {
   padding: 15px;
   min-height: 800px;
 }
mat-list-item {
  cursor: pointer;
}

.icon-color {
  color: darkred;
  cursor: pointer;
}
