//mat-card {
//  max-width: 300px;
//  min-width: 300px;
//  float: left;
//  margin: 10px;
//}
//mat-card-content {
//  min-height: 100px;
//  max-height: 100px;
//  overflow-y: auto;
//  margin-bottom: 0px;
//}
//mat-card-actions {
//  margin-bottom: 0px;
//  margin-right: 0px;
//  margin-left: 0px;
//}
//mat-card-title {
//  margin-left: 0px;
//  margin-right: 0px;
//}

.card-header-image {
  background-size: cover;
}

mat-card {
  margin-bottom: 10px;
}

mat-card-subtitle {
  margin-bottom: 0px;
}

mat-card-title {
  margin-bottom: 5px;
}

